* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	line-height: 20px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	margin: 0;
	background-color: #EDECEC;
}

.stage {
	position: relative;
}

.start {
	z-index: 1;
	position: absolute;
	top: 150px;
	left: 100px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #3f66f5;
	text-align: center;
	color: white;
	padding: 40px 0; 
}

.state {
	z-index: 2;
	width: 200px;
	height: 100px;
	position: absolute;
	background-color: #CDCDCD;
	opacity: 0.6;
	border-radius: 20px;
	color: black;
	padding: 40px 0;
	text-align: center;
}

.self-reference {
	-webkit-transform: rotate(60deg);
	transform: rotate(20deg);
}
.state:hover {
opacity: 1;
-webkit-transition:opacity 500ms ease-out;
}